# my lovely alias
## for mac
alias home="cd ~/Documents/"
alias repos="cd ~/Documents/repos"

## git
# 複合コマンドは .gitconfig [alias] に移動済み: pushup / ch / merged / prune-local
alias g="git"
alias greset="git reset --hard HEAD\^"
alias gl="git log --color --graph"
alias glog="git log"
alias gpu="git pull"
alias gst="git status"
alias gc="git commit -v"
alias gd="git diff"
alias gmm='git merge main'

## zsh
alias zshrc="vi ~/.zshrc"
alias szsh="source ~/.zshrc"

# weather
alias tenki="curl -4 wttr.in/Nagoya"

# vim
alias v="vim"

# tmux reload
alias tmux-reload="tmux source-file ~/.tmux.conf"

# trans
alias tn="trans :ja"

# kubernetes
alias k="kubectl"

# terraform
alias tf="terraform"
