[push]
  default = simple
  autoSetupRemote = true

[user]
  name = dascarlet
  email = nisigin@gmail.com

[color]
  ui = true

[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  review = diff origin/master...

[core]
  excludesfile = ~/.gitignore
  whitespace = trailing-space,space-before-tab

[fetch]
	prune = true
[ghq]
	root = /Users/kz-scarlet/go/src
[credential]
	helper = osxkeychain
[rebase]
	autosquash = true
[commit]
	verbose = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[pull]
	rebase = false
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[difftool]
	prompt = false
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false
[init]
	defaultBranch = main
