[push]
  default = simple
  autoSetupRemote = true

[user]
  name = dascarlet
  email = nisigin@gmail.com

[color]
  ui = true

[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  review = diff origin/master...
  new = "!f() { git switch -c \"$1\" && git commit --allow-empty -m \"Initial empty commit\"; }; f"
  pushup = "!git push origin --set-upstream $(git rev-parse --abbrev-ref HEAD)"
  ch = "!git branch -a --sort=-authordate | cut -b 3- | perl -pe 's#^remotes/origin/###' | perl -nlE 'say if !$c{$_}++' | grep -v -- '->' | fzf | xargs git checkout"
  merged = "!git branch --merged | grep -v '\\*' | xargs -I % git branch -d %"
  prune-local = "!git branch | egrep -v '\\*|develop|master|main' | xargs git branch -D"

[core]
  excludesfile = ~/.gitignore
  whitespace = trailing-space,space-before-tab
	commentChar = >
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	line-numbers = true
	side-by-side = true

[merge]
	conflictstyle = zdiff3

[fetch]
	prune = true
[credential]
	helper = osxkeychain
[rebase]
	autosquash = true
[commit]
	verbose = true
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
[pull]
	rebase = false
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[difftool]
	prompt = false
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false
[init]
	defaultBranch = main
